    <div class="bg-light border border-primary p-3 rounded m-3">
        <h1 class="display-4 text-center">NFT Watchlist</h1>

    <form method="post" action="/watchlist/add">
        Token Address:<input type="text" name="tokenAddress"><br>
        Name of Owner:<input type="text" name="ownerName"><br>
        <input type="submit" value="Save Item"><br>
    </form>
    </div>

    <table class="table table-striped">
        <thead class="text-center">
            <tr>
                <th>Token Address</th>
                <th>Owner Name</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <% for (item of items) {%>
            <tbody class="text-center">
                <td>
                    <a href="/watchlist/<%=item.tokenAddress%>/<%=item.ownerName%>"><%= item.tokenAddress %></a>
                </td>
                <td>
                    <%= item.ownerName %>
                </td>

                <td > 
                    <center>
                        <button class="btn-danger">
                            <a href="/watchlist/delete/<%= item._id%>">Delete</a>
                        </button>    
                    </center>
                </td>
            </tbody>
        <%}%>
    </table>
    
    <!-- <pre>
        <%= JSON.stringify(items,null,5) %>
    </pre> -->

